<ion-view view-title="Theme">
  <ion-content class="padding" ionic-scrolled>
    <h2>Theme</h2>
    <p>SAMPLES</p>
    <hr>
    <div class="card">
      <div class="item item-divider item-positive">
        Explanation
      </div>
      <div class="item item-text-wrap">
        <p>Ionic components with Appverse Modern-UI theme applied.</p>
        <p>Created using
          <a href="https://appverse.gftlabs.com/showcase-html5/#/theme">Appverse Theme</a>
          as base.</p>
      </div>
    </div>

    <h2>Bars</h2>
    <hr>
    <div class="ionic ionic-example">
      <ion-header-bar class="bar-light">
        <button class="button button-icon icon ion-navicon"></button>
        <h1 class="title">Bar-light</h1>
        <button class="button button-clear">Edit</button>
      </ion-header-bar>
    </div>
    <br>
    <div class="ionic ionic-example">
      <ion-header-bar class="bar-positive">
        <button class="button button-icon icon ion-navicon"></button>
        <h1 class="title">Bar-positive</h1>
        <button class="button button-clear">Edit</button>
      </ion-header-bar>
    </div>
    <br>
    <div class="ionic ionic-example">
      <ion-header-bar class="bar-light item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input placeholder="Search" type="search">
        </label>
        <button class="button button-clear">
          Cancel
        </button>
      </ion-header-bar>
    </div>

    <h2>Buttons</h2>
    <hr>
    <div class="ionic ionic-example">
      <div class="row responsive-sm">
        <div class="col">
          <button angular-ripple class="button">
            Default
          </button>
          <button angular-ripple class="button button-light">
            button-light
          </button>
          <button angular-ripple class="button button-stable">
            button-stable
          </button>
          <button angular-ripple class="button button-positive">
            button-positive
          </button>
          <button angular-ripple class="button button-calm">
            button-calm
          </button>
        </div>
        <div class="col">
          <button angular-ripple class="button button-balanced">
            button-balanced
          </button>
          <button angular-ripple class="button button-energized">
            button-energized
          </button>
          <button angular-ripple class="button button-assertive">
            button-assertive
          </button>
          <button angular-ripple class="button button-royal">
            button-royal
          </button>
          <button angular-ripple class="button button-dark">
            button-dark
          </button>
        </div>
      </div>
    </div>
    <br>
    <h4>Block buttons</h4>
    <div class="ionic ionic-example">
      <button angular-ripple class="button button-block button-light">block-button-light</button>
      <button angular-ripple class="button button-block button-stable">block-button-stable</button>
      <button angular-ripple class="button button-block button-positive">block-button-positive</button>
      <button angular-ripple class="button button-block button-calm">block-button-calm</button>
      <button angular-ripple class="button button-block button-balanced">block-button-balanced</button>
      <button angular-ripple class="button button-block button-energized">block-button-energized</button>
      <button angular-ripple class="button button-block button-assertive">block-button-assertive</button>
      <button angular-ripple class="button button-block button-royal">block-button-royal</button>
      <button angular-ripple class="button button-block button-dark">block-button-dark</button>
    </div>
    <br>
    <h4>Different size buttons</h4>
    <div class="ionic ionic-example">
      <button angular-ripple class="button button-small button-light">button-light</button>
      <button angular-ripple class="button button-small button-stable">button-stable</button>
      <button angular-ripple class="button button-small button-positive">button-positive</button>
      <button angular-ripple class="button button-small button-calm">button-calm</button>
      <button angular-ripple class="button button-small button-balanced">button-balanced</button>
      <button angular-ripple class="button button-large button-energized">button-energized</button>
      <button angular-ripple class="button button-large button-assertive">button-assertive</button>
      <button angular-ripple class="button button-large button-royal">button-royal</button>
      <button angular-ripple class="button button-large button-dark">button-dark</button>
    </div>
    <br>
    <h4>Icon buttons</h4>
    <div class="ionic ionic-example">
      <button angular-ripple class="button">
        <i class="icon ion-loading-c"></i>
        Loading...
      </button>
      <button angular-ripple class="button icon-left ion-home">Home</button>
      <button angular-ripple class="button icon-left ion-star button-positive">Favorites</button>
      <a angular-ripple class="button icon-right ion-chevron-right button-calm">Learn More</a>
      <a angular-ripple class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
      <button angular-ripple class="button icon ion-gear-a"></button>
      <a angular-ripple class="button button-icon icon ion-settings"></a>
      <a angular-ripple class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>
    </div>
    <br>
    <h4>Button Bar (Button group)</h4>
    <div class="ionic ionic-example">
      <div class="button-bar bar-light">
        <a angular-ripple class="button">First</a>
        <a angular-ripple class="button">Second</a>
        <a angular-ripple class="button">Third</a>
      </div>
      <div class="button-bar bar-stable">
        <a angular-ripple class="button">First</a>
        <a angular-ripple class="button">Second</a>
        <a angular-ripple class="button">Third</a>
      </div>
      <div class="button-bar bar-positive">
        <a angular-ripple class="button">First</a>
        <a angular-ripple class="button">Second</a>
        <a angular-ripple class="button">Third</a>
      </div>
    </div>
    <br>
    <h2>Typograpy</h2>
    <hr>
    <div class="row responsive-sm">
      <div class="col">
        <h1>I'm an H1!</h1>
        <h2>I'm an H2!</h2>
        <h3>I'm an H3!</h3>
        <h4>I'm an H4!</h4>
        <h5>I'm an H5!</h5>
        <h6>I'm an H6!</h6>
        <p>I'm a paragraph with a
          <a href="#">link</a>!</p>
      </div>
      <div class="col">
        <p class="light">I'm a paragraph with light color</p>
        <p class="stable">I'm a paragraph with stable color</p>
        <p class="positive">I'm a paragraph with positive color</p>
        <p class="calm">I'm a paragraph with calm color</p>
        <p class="balanced">I'm a paragraph with balanced color</p>
        <p class="energized">I'm a paragraph with energized color</p>
        <p class="assertive">I'm a paragraph with assertive color</p>
        <p class="royal">I'm a paragraph with royal color</p>
        <p class="dark">I'm a paragraph with dark color</p>
      </div>
    </div>
    <br>
    <h2>Forms</h2>
    <hr>
    <div class="row responsive-sm">
      <div class="col">
        <h4>Placeholder labels</h4>
        <div class="list">
          <label class="item item-input">
            <input placeholder="Email" type="email">
          </label>

          <label class="item item-input">
            <input placeholder="Password" type="password">
          </label>

          <ion-list>
            <ion-checkbox ng-model="filter.blue">Checkbox</ion-checkbox>
            <ion-radio ng-model="choice" ng-value="'A'">Radio option 1</ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">Radio option 2</ion-radio>
          </ion-list>

          <label class="item item-toggle">
            Toggle button
            <label class="toggle toggle-positive">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </label>

          <div class="item range range-positive">
            <i class="icon ion-ios-sunny-outline"></i>
            <input max="100" min="0" name="volume" type="range" value="33">
            <i class="icon ion-ios-sunny"></i>
          </div>

          <label class="item item-input">
            <textarea placeholder="Comments"></textarea>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Select
            </div>
            <select>
              <option>Option 1</option>
              <option selected>Option 2</option>
              <option>Option 3</option>
            </select>
          </label>
        </div>
        <button angular-ripple class="button button-block button-positive">Submit</button>
      </div>
      <div class="col">
        <h3>Other kind of inputs</h3>
        <h4>Inline labels</h4>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password">
          </label>
        </div>
        <h4>Stacked Labels labels</h4>
        <label class="item item-light item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input placeholder="John" type="text">
        </label>
        <label class="item item-light item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input placeholder="Suhr" type="text">
        </label>
        <label class="item item-light item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input placeholder="john@suhr.com" type="text">
        </label>
      </div>
    </div>
    <div class="row responsive-sm">
      <div class="col">
        <h4>Floating labels</h4>
        <div class="list">
          <label class="item item-light item-input item-floating-label">
            <span class="input-label">First Name</span>
            <input placeholder="First Name" type="text">
          </label>
          <label class="item item-light item-input item-floating-label">
            <span class="input-label">Last Name</span>
            <input placeholder="Last Name" type="text">
          </label>
          <label class="item item-light item-input item-floating-label">
            <span class="input-label">Email</span>
            <input placeholder="Email" type="text">
          </label>
        </div>
      </div>
      <div class="col">
        <h4>Inset Forms</h4>
        <div class="list list-inset">
          <label class="item item-input">
            <input placeholder="First Name" type="text">
          </label>
          <label class="item item-input">
            <input placeholder="Last Name" type="text">
          </label>
        </div>

        <h4>Inset inputs</h4>
        <div class="list">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input placeholder="Email" type="text">
            </label>
            <button angular-ripple class="button button-small">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>

    <br>
    <h2>Lists</h2>
    <hr>
    <div class="row responsive-sm">
      <div class="col">
        <h4>Default list</h4>
        <ion-list>
          <ion-item angular-ripple class="item" ng-repeat="item in listElements">
            {{item.name}}
          </ion-item>
        </ion-list>
      </div>
      <div class="col">
        <h4>List with dividers</h4>
        <ion-list>
          <ion-item angular-ripple class="{{item.class}}" ng-repeat="item in listDividersElements">
            {{item.name}}
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="row responsive-sm">
      <div class="col">
        <h4>List with Icons</h4>
        <ion-list>
          <ion-item angular-ripple class="item item-icon-left item-icon-right" ng-repeat="item in listElements">
            <i class="{{item.icon}}"></i>
            {{item.name}}
            <i class="icon ion-android-star"></i>
          </ion-item>
        </ion-list>
      </div>
      <div class="col">
        <h4>List with Buttons</h4>
        <ion-list>
          <ion-item angular-ripple class="item item-button-right" ng-repeat="item in listElements">
            {{item.name}}
            <button class="{{item.button}}">
              <i class="{{item.buttonicon}}"></i>
            </button>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="row responsive-sm">
      <div class="col">
        <h4>List with avatars</h4>
        <ion-list>
          <ion-item class="item item-avatar" ng-repeat="item in listElements">
            <img src="img/avatar.png">
            <h2>{{item.name}}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </ion-item>
        </ion-list>
      </div>
      <div class="col">
        <h4>List with thumbnails</h4>
        <ion-list>
          <ion-item class="item item-thumbnail-left" ng-repeat="item in listElements">
            <img src="img/thumbnail.png">
            <h2>{{item.name}}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <h2>Cards</h2>
    <hr>
    <div class="row responsive-sm">
      <div class="col">
        <h4>Basic cards</h4>
        <div class="card">
          <ion-item class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </ion-item>
        </div>
      </div>
      <div class="col">
        <h4>Card with header and footer</h4>
        <div class="card">
          <ion-item class="item item-divider">
            I'm a Header in a Card!
          </ion-item>
          <ion-item class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </ion-item>
          <ion-item class="item item-divider">
            I'm a Footer in a Card!
          </ion-item>
        </div>
      </div>
    </div>

    <div class="row responsive-sm">
      <div class="col">
        <h4>Card Lists</h4>
        <div class="card list">
          <ion-item class="item item-icon-left" ng-repeat="item in listElements">
            <i class="{{item.icon}}"></i>
            {{item.name}}
          </ion-item>
        </div>
      </div>
      <div class="col">
        <h4>Card images</h4>
        <div class="card list">
          <ion-item class="item item-avatar">
            <img src="img/avatar.png">
            <h2>Appverse showcase</h2>
            <p>GFT IT SLU</p>
          </ion-item>
          <ion-item class="item item-image">
            <img src="img/thumbnail.png">
          </ion-item>
          <ion-item class="item item-icon-left positive">
            <i class="icon ion-android-playstore"></i>
            Download now
          </ion-item>
        </div>
      </div>
    </div>

    <div class="row responsive-sm">
      <div class="col">
        <h4>Card Showcase</h4>
        <div class="card list">
          <ion-item class="item item-avatar">
            <img src="img/avatar.png">
            <h2>Appverse Ionic Theme</h2>
            <p>January 19, 2016</p>
          </ion-item>
          <ion-item class="item item-body">
            <img class="full-image" src="img/thumbnail.png">
            <p>
              This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
            </p>
            <p>
              <a class="subdued" href="#">1 Like</a>
              <a class="subdued" href="#">5 Comments</a>
            </p>
          </ion-item>
        </div>
      </div>
      <div class="col">
        <h4>Context Cards</h4>
        <div class="card">
          <ion-item class="item item-divider item-light">
            I'm a light card.
          </ion-item>
          <ion-item class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </ion-item>
        </div>
        <div class="card">
          <ion-item class="item item-divider item-positive">
            I'm a positive card.
          </ion-item>
          <ion-item class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </ion-item>
        </div>
        <div class="card">
          <ion-item class="item item-divider item-calm">
            I'm a calm card.
          </ion-item>
          <ion-item class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </ion-item>
        </div>
        <div class="card">
          <ion-item class="item item-divider item-balanced">
            I'm a balanced card.
          </ion-item>
          <ion-item class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </ion-item>
        </div>
        <div class="card">
          <ion-item class="item item-divider item-energized">
            I'm an energized card.
          </ion-item>
          <ion-item class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </ion-item>
        </div>
        <div class="card">
          <ion-item class="item item-divider item-assertive">
            I'm an assertive card.
          </ion-item>
          <ion-item class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </ion-item>
        </div>
        <div class="card">
          <ion-item class="item item-divider item-royal">
            I'm a royal card.
          </ion-item>
          <ion-item class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </ion-item>
        </div>
        <div class="card">
          <ion-item class="item item-divider item-dark">
            I'm a dark card.
          </ion-item>
          <ion-item class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </ion-item>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
