<ion-view view-title="Home">
    <ion-content class="padding" ionic-scrolled>
    <h2>Home</h2>
    <p>Your project is ready!</p>
    <hr>
    <div class="card">
      <div class="item item-divider item-positive">
        Appverse Modern-UI
      </div>
      <div class="item item-text-wrap">
        <p>Ionic components with Appverse Modern-UI theme applied.</p>
        <p>Created using
          <a href="https://appverse.gftlabs.com/showcase-html5/#/theme">Appverse Theme</a>
          as base.</p>
      </div>
    </div>
      <div class="row responsive-sm">

        <ul class="list">
            <li><a angular-ripple href="http://appverse.org/">Appverse.org</a>
            </li>
            <li><a angular-ripple href="https://twitter.com/appversed">Twitter</a>
            </li>
            <li><a angular-ripple href="https://github.com/Appverse">GitHub</a>
            </li>
            <li><a angular-ripple href="https://www.npmjs.com/~appverse">NPM</a>
            </li>
        </ul>
    </div>
    </ion-content>
</ion-view>   